.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

app-new-slide-form {
  min-width: 90%;
  height: auto;
}

.full-width {
  width:100%;
  height: auto;
}

.thumbnail iframe {
  width: 100%;
  height: 100%;
}

div.docs-chrome{
  display: none;
}


#docs-chrome {
  display : none;
}
