.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
  min-height: 100vh;
}


app-new-slide-form {
  min-width: 70%;
  width: 100%;
  min-height: 100%;
  height: auto;
}

.full-width {
  width:100%;
  height: auto;
}


.main-content {
  min-height: 90vh;
  height: auto;
  width: 80vw;
  position: relative;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.headline {
  width: 30%;
  text-align: center;
}

.sidebar {
  position: relative;
  top: 0px;
  left:0px;
}
