
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<aside class="mdc-drawer mdc-drawer--persistent mdc-typography">
  <nav class="mdc-drawer__drawer mdc-theme--primary">
    <header class="mdc-drawer__header ">
      <div class="mdc-drawer__header-content">
        Slide Builder
      </div>
    </header>
    <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
      <a class="mdc-list-item mdc-secondary" href="#">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment_ind</i>View Builds
      </a>
      <a class="mdc-list-item  mdc-primary" href="#">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">slideshow</i>Export Build
      </a>
      <header class="mdc-drawer__header ">
        <div class="mdc-drawer__header-content">
          Things to do
        </div>
      </header>
      <a class="mdc-secondary-text mdc-list-item" (click)="menu_selected()" href="#">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment_ind</i><p class="mdc-secondary-text">Build Spec
      </a>
      <a class="mdc-secondary-text mdc-list-item" href="#">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment_ind</i>Build Push
      </a>
      <a class="mdc-secondary-text mdc-list-item" href="#">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment_ind</i>Insert Report
      </a>
    </nav>
  </nav>
</aside>
<app-generate-slide *ngIf="this.loadGenerate==true" (authorClick)="display_menu($event)"></app-generate-slide>
